<h1>New Message</h1>
<%= form_with(model: @message, url: messages_path, local: false) do |form| %>
  <%= form.hidden_field :sender_id, value: current_user.id %>

  <div class="form-group">
    <%= form.label :recipient_id, 'Recipient:', class: 'sr-only' %>
    <%= form.select :recipient_id, options_from_collection_for_select(@recipients.where.not(id: current_user.id), 'id', 'email', @recipient&.id), { prompt: 'Select Recipient' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content, 'Content:', class: 'sr-only' %>
    <%= form.text_area :content, class: 'form-control', placeholder: 'Type your message...' %>
  </div>

  <%= form.submit 'Send Message', class: 'btn btn-primary' %>
<% end %>

  <h1>Messages</h1>
 <div id='message'>

  <% @messages.each do |message| %>
    <p>
      
      <strong>Message:</strong> <%= message.content %>
    </p>
  <% end %>
  </div>
  <script>
    setTimeout(function(){
      location.reload();
    }, 10000);
  </script>
  
